.container {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem auto 0;
  overflow: hidden;
  padding: 3rem 0;
  width: 95vw;
}

.container_cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 120px 1fr;
  width: 100%;
}

.message {
  color: rgb(68, 209, 58);
  font-size: 1.1rem;
  margin-top: 3rem;
  width: 90%;
}

.message.fail {
  color: rgb(209, 58, 58);
}

.message p {
  font-family: "Anek Telugu", sans-serif;
  margin: 0;
  text-align: center;
}

.card,
.deck {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 120px;
}

.card {
  width: 200px;
}

.card.end,
.deck.end {
  opacity: 0.3;
}

.card {
  position: relative;
}

.single_card {
  left: 0;
  position: absolute;
  top: 0;
}

.single_card img,
.deck img {
  height: 150px;
}

.single_card:nth-child(2) {
  left: 40px;
}

.single_card:nth-child(3) {
  left: 80px;
}

.single_card:nth-child(4) {
  left: 120px;
}

.single_card:nth-child(5) {
  left: 0;
  top: 45px;
}

.single_card:nth-child(6) {
  left: 40px;
  top: 45px;
}

.single_card:nth-child(7) {
  left: 80px;
  top: 45px;
}

.single_card:nth-child(8) {
  left: 120px;
  top: 45px;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  background-color: rgb(44, 148, 212);
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-family: "Anek Telugu", sans-serif;
  font-size: 1rem;
  height: 30px;
  padding: 0.4rem;
  width: 130px;
}

.buttons button:hover {
  background-color: rgb(95, 170, 218);
}

.button_stop:disabled {
  background-color: rgb(185, 185, 185);
  color: #000;
}

.button_stop:disabled:hover {
  background-color: rgb(221, 220, 220);
}

@media (min-width: 600px) {
  .container {
    width: 90vw;
  }

  .container_cards {
    grid-template-columns: 220px 1fr;
  }

  .message {
    font-size: 2rem;
    width: 600px;
  }

  .single_card img,
  .deck img {
    height: 220px;
  }

  .card,
  .deck {
    width: 200px;
  }

  .buttons button {
    font-size: 1.2rem;
    height: 35px;
    padding: 0.45rem;
    width: 200px;
  }
}

@media (min-width: 900px) {
  .container {
    width: 75vw;
  }

  .container_cards {
    display: flex;
  }

  .message {
    font-size: 2rem;
    width: 600px;
  }

  .single_card img,
  .deck img {
    height: 300px;
  }

  .card,
  .deck {
    width: 200px;
  }

  .buttons button {
    font-size: 1.2rem;
    height: 35px;
    padding: 0.45rem;
    width: 200px;
  }
}
